/* -------- General styles ---------  */
h1, h2, h3, h4{
	font-family: 'Fjalla One', sans-serif;
}

h1{
	color: #47adcb;
}
footer{
	background-color: #1b1b1b;
	color: #999999;
}








 